@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
// ::-webkit-scrollbar-thumb {
//   @apply bg-theme-border;

//   @media (prefers-color-scheme: dark) {
//     @apply bg-theme-border-dark;
//   }
// }

body {
  ::-webkit-scrollbar-thumb {
    @apply bg-theme-border;
  }

  &.dark {
    ::-webkit-scrollbar-thumb {
      @apply bg-theme-border-dark;
    }
  }
}

html,
body {
  font-family: "Inter", sans-serif;
}

.main-content-height {
  @screen sm {
    height: calc(100vh - 6rem - 1px);
  }
}

a {
  @apply transition-opacity ease-in-out;
  &:hover {
    @apply opacity-75;
  }
}
