@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-theme-border;

  @media (prefers-color-scheme: dark) {
    @apply bg-theme-border-dark;
  }
}

html,
body {
  font-family: "Inter", sans-serif;
  @apply bg-secondary;

  @media (prefers-color-scheme: dark) {
    @apply bg-secondary-dark;
  }
}

.main-content-height {
  @screen sm {
    height: calc(100vh - 6rem - 1px);
  }
}

a {
  @apply transition-opacity ease-in-out;
  &:hover {
    @apply opacity-75;
  }
}

@layer components {
  .auth-button {
    @apply w-44 md:w-auto inline-flex items-center justify-center px-6 py-5 border-4 border text-xl font-semibold font-medium rounded-3xl shadow-sm  focus:outline-none focus:ring-2 focus:ring-offset-2;
  }
}
